.App {
  text-align: center;
  background-color: beige;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  padding: 20px;
  margin-bottom: 20px;
}
.card-deck {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  justify-content: center;
  margin-left: 17%;
  margin-right: 17%;
  padding-bottom: 50px;
}

.card {
  border: 1px solid blue;
  display: grid;
  padding: 20px;
  grid-gap: 10px;
  box-shadow: 5px 5px 5px grey;
  background-color: aliceblue;
}

.card:hover {
  background-color: lightblue;
}
.hanzi {
  font-size: 50px;
  padding: 10px;
}
.scores {
  position: absolute;
  right: 20px;
  top: 20px;
}
.score-container,
.best-score-container {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}
.score,
.best-score {
  text-align: right;
}
@media (max-width: 1100px) {
  .card-deck {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 890px) {
  .App {
    display: grid;
    grid-template-columns: 1fr;
  }

  .scores {
    position: static;
    margin-bottom: 20px;
    padding: 2px;
    width: 180px;
    justify-self: center;
  }
  header {
    margin: 0;
  }
}

@media (max-width: 800px) {
  .card-deck {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 5%;
    margin-right: 5%;
  }
  header {
    margin-bottom: 10px;
  }
}
@media (max-width: 405px) {
  .card-deck {
    grid-template-columns: 1fr;
  }
  .App {
    display: grid;
    grid-template-columns: 1fr;
  }

  .scores {
    position: static;
    margin-bottom: 20px;
    padding: 2px;
  }
}
